<div class="miscotizaciones-general-container">

  <div class="miscotizaciones-header">
    <div class="miscotizaciones-header-width">

      <div class="miscotizaciones-header-title">
        Mis cotizaciones
        <div class="miscotizaciones-header-subtitle">
          {{empresa}}
        </div>
      </div>

      <div class="miscotizaviones-header-resume">

      </div>

    </div>
  </div>

  <div class="miscotizaciones-container">

    <div class="miscotizaciones-container-toolBar">
      <input type="search" placeholder="Buscar..." class="miscotizaciones-container-toolBar-search" id="buscador"
        [(ngModel)]="buscador" #filtrado (keyup)="Search(filtrado.value)" (change)="Search(filtrado.value)"
        (paste)="Search(filtrado.value)" (search)="Search(filtrado.value)">
      <select #opcion (change)="select(opcion.value)" class="miscotizaciones-container-toolBar-search-options">
        <option *ngFor="let op of Opciones" [value]="op.value">{{op.viewValue}}</option>
      </select>
    </div>

    <div class="miscotizaciones-content-kanbanBoard">

      <div class="miscotiaciones-content-kanbanTable ToDo">
        <div class="miscotiaciones-content-kanbanTable-title">
          <span class="miscotiaciones-content-kanbanTable-title-counter">{{solicitada}}</span>
          Solicitadas
          <div class="miscotiaciones-content-kanbanTable-title-add">
            <img class="miscotiaciones-content-kanbanTable-title-add-icon" src='../../../../../assets/plus-solid.svg'>
          </div>
        </div>

        <div class="miscotiaciones-content-kanbanTable-cards">

          <div class="miscotiaciones-content-kanbanTable-card"
            *ngFor="let cot of cotizaciones | cotizacionesPipe:'Solicitada':filter_option:filter_list"
            (click)="Details(cot.folio)">
            <label class="header-button" style="cursor: pointer;">
              <input type="checkbox" class="menu-check" [attr.id]="cot.folio" style="display: none;">
              <div class="miscotiaciones-content-kanbanTable-card-folio">
                {{cot.folio}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-descripcion">
                {{cot.descripcion}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-footer">
                <div class="miscotiaciones-content-kanbanTable-card-footer-sitio">
                  <svg class="miscotiaciones-content-kanbanTable-card-footer-sitio-icon"
                    xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#0086d4" viewBox="0 0 256 256">
                    <rect width="256" height="256" fill="none"></rect>
                    <path
                      d="M128,16a88.1,88.1,0,0,0-88,88c0,75.3,80,132.2,83.4,134.6a8.3,8.3,0,0,0,9.2,0C136,236.2,216,179.3,216,104A88.1,88.1,0,0,0,128,16Zm0,56a32,32,0,1,1-32,32A32,32,0,0,1,128,72Z">
                    </path>
                  </svg>
                  <!-- <img class="miscotiaciones-content-kanbanTable-card-footer-sitio-icon" src='../../../../../assets/location-dot-solid.svg'> -->
                  {{cot.sitio}}
                </div>
                <div class="miscotiaciones-content-kanbanTable-card-footer-fecha ">
                  <img class="miscotiaciones-content-kanbanTable-card-footer-fecha-icon"
                    src='../../../../../assets/calendar-days-solid.svg'>
                  {{cot.fecha_sol}}
                </div>
              </div>
            </label>
          </div>
        </div>


      </div>

      <div class="miscotiaciones-content-kanbanTable InProgress">
        <div class="miscotiaciones-content-kanbanTable-title">
          <span class="miscotiaciones-content-kanbanTable-title-counter">{{proceso}}</span>
          En Progreso
        </div>

        <div class="miscotiaciones-content-kanbanTable-cards">
          <div class="miscotiaciones-content-kanbanTable-card"
            *ngFor="let cot of cotizaciones | cotizacionesPipe:'Proceso':filter_option:filter_list"
            (click)="Details(cot.folio)">
            <label class="header-button" style="cursor: pointer;">
              <input type="checkbox" class="menu-check" [attr.id]="cot.folio" style="display: none;">
              <div class="miscotiaciones-content-kanbanTable-card-folio">
                {{cot.folio}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-descripcion">
                {{cot.descripcion}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-footer">
                <div class="miscotiaciones-content-kanbanTable-card-footer-sitio sitio-Progreso">
                  <!-- <img class="miscotiaciones-content-kanbanTable-card-footer-sitio-icon sitio-Progreso-icon" src='../../../../../assets/location-dot-solid.svg'> -->
                  <svg class="miscotiaciones-content-kanbanTable-card-footer-sitio-icon sitio-Progreso-icon"
                    xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#17c28c" viewBox="0 0 256 256">
                    <rect width="256" height="256" fill="none"></rect>
                    <path
                      d="M128,16a88.1,88.1,0,0,0-88,88c0,75.3,80,132.2,83.4,134.6a8.3,8.3,0,0,0,9.2,0C136,236.2,216,179.3,216,104A88.1,88.1,0,0,0,128,16Zm0,56a32,32,0,1,1-32,32A32,32,0,0,1,128,72Z">
                    </path>
                  </svg>
                  {{cot.sitio}}
                </div>
                <div class="miscotiaciones-content-kanbanTable-card-footer-fecha fecha-Progreso">
                  <img class="miscotiaciones-content-kanbanTable-card-footer-fecha-icon"
                    src='../../../../../assets/calendar-days-solid.svg'>
                  {{cot.fecha_pro}}
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>

      <div class="miscotiaciones-content-kanbanTable Done">
        <div class="miscotiaciones-content-kanbanTable-title">
          <span class="miscotiaciones-content-kanbanTable-title-counter">{{entregada}}</span>
          Entregadas
        </div>
        <div class="miscotiaciones-content-kanbanTable-cards">
          <div class="miscotiaciones-content-kanbanTable-card"
            *ngFor="let cot of cotizaciones | cotizacionesPipe:'Entregada':filter_option:filter_list"
            (click)="Details(cot.folio)">
            <label class="header-button" style="cursor: pointer;">
              <input type="checkbox" class="menu-check" [attr.id]="cot.folio" style="display: none;">
              <div class="miscotiaciones-content-kanbanTable-card-folio">
                {{cot.folio}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-descripcion">
                {{cot.descripcion}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-footer">
                <div class="miscotiaciones-content-kanbanTable-card-footer-sitio sitio-Entreagda">
                  <!-- <img class="miscotiaciones-content-kanbanTable-card-footer-sitio-icon" src='../../../../../assets/location-dot-solid.svg'> -->
                  <svg class="miscotiaciones-content-kanbanTable-card-footer-sitio-icon sitio-Entregada-icon"
                    xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#17c28c" viewBox="0 0 256 256">
                    <rect width="256" height="256" fill="none"></rect>
                    <path
                      d="M128,16a88.1,88.1,0,0,0-88,88c0,75.3,80,132.2,83.4,134.6a8.3,8.3,0,0,0,9.2,0C136,236.2,216,179.3,216,104A88.1,88.1,0,0,0,128,16Zm0,56a32,32,0,1,1-32,32A32,32,0,0,1,128,72Z">
                    </path>
                  </svg>
                  {{cot.sitio}}
                </div>
                <div class="miscotiaciones-content-kanbanTable-card-footer-fecha fecha-Entregada">
                  <img class="miscotiaciones-content-kanbanTable-card-footer-fecha-icon"
                    src='../../../../../assets/calendar-days-solid.svg'>
                  {{cot.fecha_cot}}
                </div>
              </div>
            </label>
          </div>
        </div>

      </div>

      <div class="miscotiaciones-content-kanbanTable OnHold">
        <div class="miscotiaciones-content-kanbanTable-title">
          <span class="miscotiaciones-content-kanbanTable-title-counter">{{caducada}}</span>
          Detenidas
        </div>

        <div class="miscotiaciones-content-kanbanTable-cards">
          <div class="miscotiaciones-content-kanbanTable-card"
            *ngFor="let cot of cotizaciones | cotizacionesPipe:'Caduco':filter_option:filter_list"
            (click)="Details(cot.folio)">
            <label class="header-button" style="cursor: pointer;">
              <input type="checkbox" class="menu-check" [attr.id]="cot.folio" style="display: none;">
              <div class="miscotiaciones-content-kanbanTable-card-folio">
                {{cot.folio}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-descripcion">
                {{cot.descripcion}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-footer">
                <div class="miscotiaciones-content-kanbanTable-card-footer-sitio sitio-Caduco">
                  <!-- <img class="miscotiaciones-content-kanbanTable-card-footer-sitio-icon sitio-Caduco-icon" src='../../../../../assets/location-dot-solid.svg'> -->
                  <svg class="miscotiaciones-content-kanbanTable-card-footer-sitio-icon sitio-Caduco-icon"
                    xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#17c28c" viewBox="0 0 256 256">
                    <rect width="256" height="256" fill="none"></rect>
                    <path
                      d="M128,16a88.1,88.1,0,0,0-88,88c0,75.3,80,132.2,83.4,134.6a8.3,8.3,0,0,0,9.2,0C136,236.2,216,179.3,216,104A88.1,88.1,0,0,0,128,16Zm0,56a32,32,0,1,1-32,32A32,32,0,0,1,128,72Z">
                    </path>
                  </svg>
                  {{cot.sitio}}
                </div>
                <div class="miscotiaciones-content-kanbanTable-card-footer-fecha fecha-Caduco">
                  <img class="miscotiaciones-content-kanbanTable-card-footer-fecha-icon"
                    src='../../../../../assets/calendar-days-solid.svg'>
                  {{cot.fecha_cad}}
                </div>
              </div>
            </label>
          </div>
        </div>

      </div>

    </div>

    <div class="miscotizaciones-content-info" id="details" (click)="uncheck()">
      <div class="miscotizaciones-content-info-sidebar">
        <div class="miscotizaciones-content-info-sidebar-header">
          <div class="miscotizaciones-content-info-sidebar-header-top">
            <div class="miscotizaciones-content-info-sidebar-header-top-enterprise">

            </div>
            <img class="miscotizaciones-content-info-sidebar-header-top-icon"
              src='../../../../../assets/xmark-solid.svg' (click)="uncheck()">
          </div>
          <div class="miscotizaciones-content-info-sidebar-header-title">
            {{cotizacion.folio}}
            <!-- <div class="miscotizaciones-content-info-sidebar-header-title-site">
              {{empresa}} - {{cotizacion.sitio}}
            </div> -->
          </div>

          <div class="miscotizaciones-content-info-sidebar-header-status">
            <div class="miscotizaciones-content-info-sidebar-header-status-status" id="miscotizaciones-status">
              {{status}}
            </div>
            <!-- {{cotizacion.atencion}} -->
            <div class="miscotizaciones-content-info-sidebar-header-status-days">
              {{diferencia}}
            </div>
          </div>

        </div>
        <div class="miscotizaciones-contentn-info-sidebar-container">
          <div class="miscotizaciones-contentn-info-sidebar-container-content">
            <div class="miscotizaciones-contentn-info-sidebar-container-content-head">
              <div class="miscotizaciones-contentn-info-sidebar-container-content-head-title">
                Descripcion solicitud
              </div>
              <div class="miscotizaciones-contentn-info-sidebar-container-content-head-description">
                {{cotizacion.des_corta}}
              </div>
              <div *ngIf="cotizacion.des_larga"
                class="miscotizaciones-contentn-info-sidebar-container-content-head-title">
                Descripcion cotización
              </div>
              <div *ngIf="cotizacion.des_larga"
                class="miscotizaciones-contentn-info-sidebar-container-content-head-description">
                {{cotizacion.des_larga}}
              </div>
            </div>

          </div>
          <div class="miscotizaciones-contentn-info-sidebar-container-sidebar">
            <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-general">
              <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info">
                <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-title">
                  Asignado
                </div>
                <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-info">
                  <div *ngIf="cotizacion.remitente; else elseBlock">{{cotizacion.remitente}}</div>
                  <ng-template #elseBlock>En espera...</ng-template>
                  <!-- {{cotizacion.remitente}} -->
                </div>
              </div>
              <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info">
                <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-title">
                  Solicitante
                </div>
                <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-info">
                  {{cotizacion.atencion}}
                </div>
              </div>
              <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info">
                <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-title">
                  Empresa
                </div>
                <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-info">
                  {{empresa}}
                </div>
              </div>
              <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info">
                <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-title">
                  Sitio
                </div>
                <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-info">
                  {{cotizacion.sitio}}
                </div>
              </div>
              <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info">
                <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-title"
                  style="margin-bottom: 4px;">
                  Equipos
                </div>
                <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-equipos">
                  <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-info-equipo"
                    *ngFor="let cot of cotizacion.equipos">
                    {{cot.modelo}}
                  </div>
                </div>
              </div>
            </div>


            <div  class="miscotizaciones-contentn-info-sidebar-container-sidebar-foot">
              <div *ngIf="cotizacion.doc" class="miscotizaciones-contentn-info-sidebar-container-sidebar-foot-download">
                <svg class="miscotizaciones-contentn-info-sidebar-container-sidebar-foot-icon"
                  xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#2e3133" viewBox="0 0 256 256">
                  <rect width="256" height="256" fill="none"></rect>
                  <path
                    d="M74.3,85.7A8.1,8.1,0,0,1,85.7,74.3L120,108.7V24a8,8,0,0,1,16,0v84.7l34.3-34.4a8.1,8.1,0,0,1,11.4,11.4l-48,48a8.2,8.2,0,0,1-11.4,0ZM240,136v64a16,16,0,0,1-16,16H32a16,16,0,0,1-16-16V136a16,16,0,0,1,16-16H84.4a3.6,3.6,0,0,1,2.8,1.2L111,145a24.1,24.1,0,0,0,34,0l23.8-23.8a3.6,3.6,0,0,1,2.8-1.2H224A16,16,0,0,1,240,136Zm-40,32a12,12,0,1,0-12,12A12,12,0,0,0,200,168Z">
                  </path>
                </svg>
                Descargar cotizacion
              </div>


              <div class="miscotizaciones-contentn-info-sidebar-container-sidebar-delete">
                <!-- <img class="miscotizaciones-contentn-info-sidebar-container-sidebar-delete-icon"
              src='../../../../../assets/trash.svg'> -->
                <svg xmlns="http://www.w3.org/2000/svg"
                  class="miscotizaciones-contentn-info-sidebar-container-sidebar-delete-icon" width="192" height="192"
                  fill="#ffffff" viewBox="0 0 256 256">
                  <rect width="256" height="256" fill="none"></rect>
                  <path
                    d="M216,48H176V40a24.1,24.1,0,0,0-24-24H104A24.1,24.1,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM112,168a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm0-120H96V40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8Z">
                  </path>
                </svg>
                Eliminar
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
