<div class="miscotizaciones-general-container">

  <div class="miscotizaciones-header">
    <div class="miscotizaciones-header-width">

      <div class="miscotzaciones-header-title">
        Mis cotizaciones
        <div class="miscotizaciones-header-subtitle">
          Hospital Puerta de Hierro
        </div>
      </div>

      <div class="miscotizaviones-header-resume">

      </div>

    </div>
  </div>

  <div class="miscotizaciones-container">
    <div class="miscotizaciones-container-toolBar">
      <input type="search" placeholder="Buscar..." class="miscotizaciones-container-toolBar-search" id="buscador"
        [(ngModel)]="buscador" #filtrado (keyup)="Search(filtrado.value)" (change)="Search(filtrado.value)"
        (paste)="Search(filtrado.value)" (search)="Search(filtrado.value)">
      <select #opcion (change)="select(opcion.value)" class="miscotizaciones-container-toolBar-search-options">
        <option *ngFor="let op of Opciones" [value]="op.value">{{op.viewValue}}</option>
      </select>
    </div>

    <div class="miscotizaciones-content-kanbanBoard">

      <div class="miscotiaciones-content-kanbanTable ToDo">
        <div class="miscotiaciones-content-kanbanTable-title">
          <span class="miscotiaciones-content-kanbanTable-title-counter">{{solicitada}}</span>
          Solicitadas
          <div class="miscotiaciones-content-kanbanTable-title-add">
            <img class="miscotiaciones-content-kanbanTable-title-add-icon" src='../../../../../assets/plus-solid.svg'>
          </div>
        </div>

        <div class="miscotiaciones-content-kanbanTable-cards">
          <div class="miscotiaciones-content-kanbanTable-card"
            *ngFor="let cot of cotizaciones | cotizacionesPipe:'Solicitada':filter_option:filter_list">
            <div class="miscotiaciones-content-kanbanTable-card-folio">
              {{cot.folio}}
            </div>
            <div class="miscotiaciones-content-kanbanTable-card-descripcion">
              {{cot.descripcion}}
            </div>
            <div class="miscotiaciones-content-kanbanTable-card-footer">
              <div class="miscotiaciones-content-kanbanTable-card-footer-sitio">
                {{cot.sitio}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-footer-fecha">
                {{cot.fecha_sol}}
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="miscotiaciones-content-kanbanTable InProgress">
        <div class="miscotiaciones-content-kanbanTable-title">
          <span class="miscotiaciones-content-kanbanTable-title-counter">{{proceso}}</span>
          En Progreso
        </div>

        <div class="miscotiaciones-content-kanbanTable-cards">
          <div class="miscotiaciones-content-kanbanTable-card"
            *ngFor="let cot of cotizaciones | cotizacionesPipe:'Proceso':filter_option:filter_list">
            <div class="miscotiaciones-content-kanbanTable-card-folio">
              {{cot.folio}}
            </div>
            <div class="miscotiaciones-content-kanbanTable-card-descripcion">
              {{cot.descripcion}}
            </div>
            <div class="miscotiaciones-content-kanbanTable-card-footer">
              <div class="miscotiaciones-content-kanbanTable-card-footer-sitio">
                {{cot.sitio}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-footer-fecha">
                {{cot.fecha_pro}}
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="miscotiaciones-content-kanbanTable Done">
        <div class="miscotiaciones-content-kanbanTable-title">
          <span class="miscotiaciones-content-kanbanTable-title-counter">{{entregada}}</span>
          Entregadas
        </div>
        <div class="miscotiaciones-content-kanbanTable-cards">
          <div class="miscotiaciones-content-kanbanTable-card"
            *ngFor="let cot of cotizaciones | cotizacionesPipe:'Entregada':filter_option:filter_list">
            <div class="miscotiaciones-content-kanbanTable-card-folio">
              {{cot.folio}}
            </div>
            <div class="miscotiaciones-content-kanbanTable-card-descripcion">
              {{cot.descripcion}}
            </div>
            <div class="miscotiaciones-content-kanbanTable-card-footer">
              <div class="miscotiaciones-content-kanbanTable-card-footer-sitio">
                {{cot.sitio}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-footer-fecha">
                {{cot.fecha_cot}}
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="miscotiaciones-content-kanbanTable OnHold">
        <div class="miscotiaciones-content-kanbanTable-title">
          <span class="miscotiaciones-content-kanbanTable-title-counter">{{caducada}}</span>
          Detenidas
        </div>

        <div class="miscotiaciones-content-kanbanTable-cards">
          <div class="miscotiaciones-content-kanbanTable-card"
            *ngFor="let cot of cotizaciones | cotizacionesPipe:'Caduco':filter_option:filter_list">
            <div class="miscotiaciones-content-kanbanTable-card-folio">
              {{cot.folio}}
            </div>
            <div class="miscotiaciones-content-kanbanTable-card-descripcion">
              {{cot.descripcion}}
            </div>
            <div class="miscotiaciones-content-kanbanTable-card-footer">
              <div class="miscotiaciones-content-kanbanTable-card-footer-sitio">
                {{cot.sitio}}
              </div>
              <div class="miscotiaciones-content-kanbanTable-card-footer-fecha">
                {{cot.fecha_cad}}
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>


  </div>
</div>
