<div class="header-container animate__animated animate__slideInDown animate__fadeIn">



  <div class="header-cont-two">
    <nav>
      <ul class="header-menu">


        <div  *ngFor="let categoria of permisos.categorias" class="header-menu-ngfor">
          <li class="header-list" *ngIf="categoria.show" (click)="uncheck_submenu(categoria.viewValue)">
            <label class="header-button">
              <input type="checkbox" class="menu-check" [attr.id]="categoria.viewValue">
              {{categoria.viewValue}}
              <img class="header-icon-list" src="../../../assets/chevron-down-solid.svg">
            </label>
            <div class="header-submenu-container">
              <ul class="header-submenu">

                <li *ngFor="let sub of categoria.sub">
                  <a class="header-submenu-item" [routerLink]="sub.route" *ngIf="sub.show" (click)="uncheck()">
                    <div class="header-submenu-items-center">
                      <img class="header-submenu-icon" src='../../../assets/{{sub.icon}}'>
                    </div>
                    <div class="header-submenu-items-center">
                      <div class="header-submenu-text">
                        {{sub.viewValue}}
                      </div>
                      <div class="header-submenu-text-sub">
                        {{sub.descripcion}}
                      </div>
                    </div>
                  </a>
                </li>

                <!-- <li>
                  <a class="header-submenu-item" href="">
                    <div class="header-submenu-items-center">
                      <img class="header-submenu-icon" src="../../../assets/cotizaciones-solicitar.svg">
                    </div>
                    <div class="header-submenu-items-center">
                      <div class="header-submenu-text">
                        Solicitar
                      </div>
                      <div class="header-submenu-text-sub">
                        Solicitar nueva cotizacion
                      </div>
                    </div>
                  </a>
                </li> -->

              </ul>
            </div>

          </li>
        </div>



        <!--
        <li class="header-list">
          <label class="header-button">
            <input type="checkbox" class="menu-check">
            Reportes
            <img class="header-icon-list" src="../../../assets/chevron-down-solid.svg">
          </label>
          <div class="header-submenu-container">
            <ul class="header-submenu">
              <li>
                <a class="header-submenu-item" href="">
                  <div class="header-submenu-items-center">
                    <img class="header-submenu-icon" src="../../../assets/cotizaciones.svg">
                  </div>
                  <div class="header-submenu-items-center">
                    <div class="header-submenu-text">
                      Mis Cotizaciones
                    </div>
                    <div class="header-submenu-text-sub">
                      Todas las cotizaciones solicitadas
                    </div>
                  </div>
                </a>
              </li>

              <li>
                <a class="header-submenu-item" href="">
                  <div class="header-submenu-items-center">
                    <img class="header-submenu-icon" src="../../../assets/cotizaciones-solicitar.svg">
                  </div>
                  <div class="header-submenu-items-center">
                    <div class="header-submenu-text">
                      Solicitar
                    </div>
                    <div class="header-submenu-text-sub">
                      Solicitar nueva cotizacion
                    </div>
                  </div>
                </a>
              </li>

            </ul>
          </div>

        </li> -->

      </ul>
    </nav>
    <div class="header-back" (click)="uncheck()">

    </div>
  </div>



  <div class="header-cont-tree animate__animated animate__slideInDown">

    <li class="header-user-list" style="width: 64px; display: flex; justify-content: flex-end;" (click)="uncheck()">
      <button class="header-button user-button">
        <div class="header-user">
          <img class="header-user-icon" src="../../../assets/user-prueba.jpeg">
        </div>
      </button>

      <div class="header-user-submenu-container">
        <ul class="header-user-submenu">
          <li>
            <a class="header-submenu-item" href="">
              <div class="header-submenu-items-center">
                <img class="header-submenu-icon" src="../../../assets/gear-solid.svg"
                  style="margin-right: 24px; height: 18px;">
              </div>
              <div class="header-submenu-items-center">
                <div class="header-submenu-text" style="font-size: 16px;">
                  Configuración
                </div>
              </div>
            </a>
          </li>
          <hr style="height: 0.5px; border: 0; border-top: #cfcfcf .2px solid; margin-bottom: 8px;">

          <li (click)="logout()">
            <a class="header-submenu-item" href="">
              <div class="header-submenu-items-center">
                <img class="header-submenu-icon" src="../../../assets/right-from-bracket-solid.svg"
                  style="margin-right: 24px; height: 18px;">
              </div>
              <div class="header-submenu-items-center">
                <div class="header-submenu-text" style="font-size: 16px;">
                  Salir
                </div>
              </div>
            </a>
          </li>

        </ul>
      </div>

    </li>
  </div>

  <div class="header-cont animate__animated animate__slideInDown">
    <div class="header-space-menu"></div>
    <img class="header-icon" src="../../../assets/S.svg" routerLink="principal" (click)="uncheck()">
    <div class="header-burger-container">

      <label class="label">
        <input type="checkbox" class="burger-input" id="burger" (change)="uncheck_burger()">
        <div class="header-burger-button">
          <div class="line-burger burger-one"></div>
          <div class="line-burger burger-two"></div>
          <div class="line-burger burger-tree"></div>
        </div>
      </label>

    </div>



  </div>





</div>
