<div class="header-container animate__animated animate__slideInDown animate__fadeIn animate__faster">
  <div class="header-cont animate__animated animate__slideInDown">
    <img class="header-icon" src="../../../assets/S.svg">
    <nav>
      <ul class="header-menu">

        <li class="header-list">
          <button class="header-button">
            Cotizaciones
            <img class="header-icon-list" src="../../../assets/chevron-down-solid.svg">
          </button>

          <div class="header-submenu-container">
            <ul class="header-submenu">
              <li>
                  <a class="header-submenu-item" href="">
                    <div class="header-submenu-items-center">
                      <img class="header-submenu-icon" src="../../../assets/cotizaciones.svg">
                    </div>
                    <div  class="header-submenu-items-center">
                      <div class="header-submenu-text">
                        Mis Cotizaciones
                      </div>
                      <div class="header-submenu-text-sub">
                        Todas las cotizaciones solicitadas
                      </div>
                    </div>
                  </a>
              </li>

              <li>
                <a class="header-submenu-item" href="">
                  <div class="header-submenu-items-center">
                    <img class="header-submenu-icon" src="../../../assets/cotizaciones-solicitar.svg">
                  </div>
                  <div  class="header-submenu-items-center">
                    <div class="header-submenu-text">
                      Solicitar
                    </div>
                    <div class="header-submenu-text-sub">
                      Solicitar nueva cotizacion
                    </div>
                  </div>
                </a>
            </li>

            </ul>
          </div>

        </li>

        <li class="header-list">
          <button class="header-button">
            Reportes
            <img class="header-icon-list" src="../../../assets/chevron-down-solid.svg">
          </button>

          <div class="header-submenu-container">
            <ul class="header-submenu">
              <li>
                  <a class="header-submenu-item" href="">
                    <div class="header-submenu-items-center">
                      <img class="header-submenu-icon" src="../../../assets/cotizaciones.svg">
                    </div>
                    <div  class="header-submenu-items-center">
                      <div class="header-submenu-text">
                        Mis Cotizaciones
                      </div>
                      <div class="header-submenu-text-sub">
                        Todas las cotizaciones solicitadas
                      </div>
                    </div>
                  </a>
              </li>

              <li>
                <a class="header-submenu-item" href="">
                  <div class="header-submenu-items-center">
                    <img class="header-submenu-icon" src="../../../assets/cotizaciones-solicitar.svg">
                  </div>
                  <div  class="header-submenu-items-center">
                    <div class="header-submenu-text">
                      Solicitar
                    </div>
                    <div class="header-submenu-text-sub">
                      Solicitar nueva cotizacion
                    </div>
                  </div>
                </a>
            </li>

            </ul>
          </div>
        </li>

      </ul>
    </nav>
  </div>
</div>
