<div class="solicitarcotizacion-general-container">

  <div class="solicitarcotizacion-header">
    <div class="solicitarcotizacion-header-width">

      <div class="solicitarcotizacion-header-title">
        Solicitar cotización
        <div class="solicitarcotizacion-header-subtitle">
          {{empresa}}
        </div>
      </div>

    </div>
  </div>

  <div class="solicitarcotizacion-container">
    <div class="solicitarcotizacion-container-cont">
      <div class="solicitarcotizacion-container-cont-title">
        <input type="text" placeholder="Titulo" class="solicitarcotizacion-container-cont-title-input">
      </div>
      <div class="solicitarcotizacion-container-cont-coments" style="z-index: 0;">
        <!-- <textarea placeholder="Comentarios" name="" id="" cols="30" rows="10"
          class="solicitarcotizacion-container-cont-coments-textarea"></textarea> -->
        <!-- <editor
          [init]="{
            height: 500,
            menubar: false,
            plugins: [
               'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
              'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
              'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
            ],
            toolbar:
             'undo redo | casechange blocks | bold italic backcolor | \
             alignleft aligncenter alignright alignjustify | \
             bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
          }"
          initialValue="Welcome to TinyMCE Angular"
        ></editor> -->
        <editor [init]="{
          height: 390,
          menubar: false,
          language: 'es',
          statusbar: false,
          placeholder: 'Descripcion...',
          content_style: 'body{font-size: 14px; font-weight: 500}',
          plugins: [
             'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
            'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
            'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
          ],
          toolbar:
           'undo redo | casechange blocks | bold italic forecolor| \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist checklist outdent indent'
        }"></editor>
        <!-- initialValue="Descripcion" va dentro del editor -->

      </div>
    </div>
    <div class="solicitarcotizacion-container-side">
      <div class="solicitarcotizacion-container-side-data">
        <div class="solicitarcotizacion-container-side-data-title">
          Sitio
        </div>
        <div class="solicitarcotizacion-container-side-data-combo">
          <select [(ngModel)]="equipo_text" #opcion
            (change)="select(opcion.value, opcion.options[opcion.options.selectedIndex].text)" id="sitio_combo"
            class="solicitarcotizacion-container-side-data-combo-select">
            <option *ngIf="sitios !== undefined && sitios.length > 1" hidden selected value="selecciona">Selecciona
            </option>
            <option *ngFor="let sitio of sitios" [value]="sitio.id"> {{sitio.nombre}}</option>
          </select>
          <div class="solicitarcotizacion-container-side-data-add">
            Añadir nuevo sitio
          </div>
        </div>

      </div>

      <div class="solicitarcotizacion-container-side-data">
        <div class="solicitarcotizacion-container-side-data-title">
          Equipos
        </div>
        <div class="solicitarcotizacion-container-side-data-combo">
          <!-- ! MOBILE -->
          <select [disabled]="equipo_text=='selecciona'" *ngIf="mobile" id="equipos-mobile"
            class="solicitarcotizacion-container-side-data-combo-select" multiple="multiple"
            [(ngModel)]="equipos_selected">
            <!-- class="solicitarcotizacion-container-side-data-combo-select" multiple="multiple" [formControl]="toppings"> -->
            <!-- <option  hidden selected>Selecciona</option> -->
            <option *ngFor="let equipo of equipos" [value]="equipo">{{equipo.modelo}}</option>
          </select>
          <!-- ! DESKTOP -->
          <!-- <mat-select [disabled]="equipo_text=='selecciona'" *ngIf="!mobile" formControlName="parts" -->
          <mat-select [disabled]="equipo_text=='selecciona'" *ngIf="!mobile" [(ngModel)]="equipos_selected"
            (change)="equipos_select()" id="equipos-PC" multiple
            class="solicitarcotizacion-container-side-data-combo-select-math" [style.background-color]="color_Equipo">
            <mat-select-trigger>
              <!-- {{toppings.value?.[0] || ''}} -->
              <span class="example-additional-selection">
                {{(equipos_selected.length || 0)}} {{equipos_selected.length === 1 ? 'equipo' : 'equipos'}}
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let equipo of equipos" [value]="equipo">
              {{equipo.modelo}}</mat-option>
          </mat-select>
          <div class="solicitarcotizacion-container-side-data-add">
            Añadir nuevo equipo
          </div>
        </div>
      </div>

      <div class="solicitarcotizacion-container-side-data">
        <div class="solicitarcotizacion-container-side-data-title">
          Refacciones
        </div>
        <div class="solicitarcotizacion-container-side-data-refacciones">
          <label class="solicitarcotizacion-container-side-data-refacciones-button" style="cursor: pointer;"
            (click)="equipos_select()">
            <input type="checkbox" class="menu-check" style="display: none;" id="add-refaccion"
              [disabled]="refacciones_part_list.length == 0">

            <img class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon"
              src='../../../../../assets/screwdriver-wrench-solid.svg' style="margin: 5px 10px 5px 0px;">
            Seleccionar refacciones

          </label>
        </div>
        <div class="solicitarcotizacion-container-side-data-upladFiles-list" style="margin-bottom: 16px;">
          <div class="solicitarcotizacion-container-side-data-upladFiles-list-head"
            (click)="open_refacciones_selected()" style="cursor: pointer;">
            {{refacciones_select_list.length}} refaccion(es) seleccionada(s)
          </div>
        </div>
      </div>

      <div class="solicitarcotizacion-container-side-data">
        <div class="solicitarcotizacion-container-side-data-title">
          Archivos
        </div>
        <div class="solicitarcotizacion-container-side-data-combo">
          <label class="solicitarcotizacion-container-side-data-upladFiles" style="cursor: pointer;">
            <input type="file" id="file-input" (change)="fileChangeEvent($event)" multiple="multiple">
            <img class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon"
              src='../../../../../assets/cloud-arrow-up-solid.svg' style="margin: 5px 10px 5px 0px;">
            Elegir archivo(s)
          </label>
        </div>
        <div class="solicitarcotizacion-container-side-data-upladFiles-list" style="padding: 0px;">
          <div class="solicitarcotizacion-container-side-data-upladFiles-list-head">
            {{selectedFiles.length}} archivo(s) seleccionado(s)
          </div>
          <div style="margin: 0px 4px;">
          <table style="border-collapse: separate;
          border-spacing: 0px 4px;">


            <tbody class="solicitarcotizacion-container-side-data-upladFiles-list-items">

              <tr class="solicitarcotizacion-container-side-data-upladFiles-list-items-item"
                *ngFor="let file of selectedFiles ; let i = index; trackBy: trackItem">


                  <td *ngIf="file.type == 'image/png' || file.type == 'image/webp' || file.type == 'image/jpg' || file.type == 'image/gif' || file.type == 'image/jpeg'">
                    <img class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon"
                    src='../../../../../assets/image-solid.svg' style="margin: 4px;">
                  </td>


                <td class="solicitarcotizacion-container-side-data-upladFiles-list-items-item-text">{{file.name}}</td>

                <td>
                  <img class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon"
                  src='../../../../../assets/xmark-solid.svg' style="margin: 4px;">
                </td>

              </tr>

              <!-- <div class="solicitarcotizacion-container-side-data-upladFiles-list-items-item"
            *ngFor="let file of selectedFiles ; let i = index; trackBy: trackItem">
            {{file.type}} {{file.name}} close
            </div> -->

            </tbody>
          </table>
        </div>
        <!-- <div class="solicitarcotizacion-container-side-data-add" (click)="open_refacciones_selected()">
          {{selectedFiles.length}} archivo(s) seleccionado(s)
        </div> -->
      </div>

    </div>
  </div>


  <div class="solicitarcotizacion-content-refacciones-back" id="details">
    <div class="solicitarcotizacion-content-refacciones-card">


      <div class="solicitarcotizacion-content-refacciones-card-close">

        <img class="solicitarcotizacion-content-refacciones-card-close-icon" src='../../../../../assets/xmark-solid.svg'
          (click)="close_refaccion_card()">
      </div>

      <div class="solicitarcotizacion-content-refacciones-card-title refacciones-add">
        Refacciones
        <div class="solicitarcotizacion-content-refacciones-card-title-description">
          Selecciona las refacciones que serán agregadas a la cotización.
          <hr>
        </div>
      </div>

      <div class="solicitarcotizacion-content-refacciones-card-title servicios-add">
        Refacciones
        <div class="solicitarcotizacion-content-refacciones-card-title-description">
          Escoge si deseas incluir instalación, en caso contrario se contemplará envio.
          <hr>
        </div>
      </div>


      <div class="solicitarcotizacion-content-refacciones-card-container refacciones-add">
        <div class="solicitarcotizacion-content-refacciones-card-content-list-searchbar-div">
          <img class="solicitarcotizacion-content-refacciones-card-content-list-searchbar-icon"
            src='../../../../../assets/magnifying-glass-solid.svg'>
          <input type="text" placeholder="Buscar refacciones..."
            class="solicitarcotizacion-content-refacciones-card-content-list-searchbar">
        </div>
        <div class="solicitarcotizacion-content-refacciones-card-content">

          <div class="solicitarcotizacion-content-refacciones-card-content-list">
            <!-- <div class="solicitarcotizacion-content-refacciones-card-content-list-searchbar-div">
            <img class="solicitarcotizacion-content-refacciones-card-content-list-searchbar-icon"
              src='../../../../../assets/magnifying-glass-solid.svg'>
            <input type="text" placeholder="Buscar refacciones..."
              class="solicitarcotizacion-content-refacciones-card-content-list-searchbar">
          </div> -->

            <div class="solicitarcotizacion-content-refacciones-card-content-list-title">
              Refacciones para equipos seleccionados
              <div
                class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion solicitarcotizacion-refaccion-refaccion-add">
                <img
                  class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon"
                  src='../../../../../assets/plus-solid.svg'
                  style="filter: invert(35%) sepia(76%) saturate(3238%) hue-rotate(181deg) brightness(96%) contrast(101%); margin: 8px;">
              </div>
            </div>
            <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones">
              <div
                class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion animate__animated animate__flipInX animate__faster"
                *ngFor="let refaccion of refacciones_info_list ; let i = index; trackBy: trackItem"
                [attr.data-index]="i" [attr.id]="i">
                <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont">

                  <div
                    class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-left">
                    <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-title">
                      {{refaccion.nombre}}
                    </div>
                    <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part">
                      <div
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part-number">
                        {{refaccion.part}}
                      </div>
                    </div>

                    <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part">
                      <div
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part-model"
                        *ngFor="let equipo of refaccion.equipos" [title]="equipo">
                        {{equipo}}
                      </div>
                    </div>
                  </div>
                  <div
                    class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right">
                    <label class="header-button" style="cursor: pointer; " (click)="focus(i + 'cant')">
                      <!-- <label class="header-button" style="cursor: pointer;" (click)="focus(i + 'cant')"> -->
                      <div
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon-cont">
                        <input type="checkbox" class="menu-check" style="display: none;" [attr.id]="i + 'check'">
                        <img
                          class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon"
                          src='../../../../../assets/plus-solid.svg'>
                      </div>
                    </label>
                    <div
                      class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-cant">
                      <input type="number" inputmode="numeric" pattern="[0-9]{2}" maxlength="2"
                        onKeyPress="if(this.value.length==2) return false;"
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-cant-input"
                        [attr.id]="i + 'cant'">
                    </div>
                    <div
                      class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-aceptar"
                      (click)="addRefaccion(i)">
                      <img
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon"
                        src='../../../../../assets/check-solid.svg'>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <!-- <div class="solicitarcotizacion-content-refacciones-card-content-list-title">
            Otras refacciones
          </div> -->
            <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones">

            </div>
          </div>
          <div class="solicitarcotizacion-content-refacciones-card-content-list">
            <!-- <div class="solicitarcotizacion-content-refacciones-card-content-list-searchbar-div">
            <img class="solicitarcotizacion-content-refacciones-card-content-list-searchbar-icon"
              src='../../../../../assets/magnifying-glass-solid.svg'>
            <input type="text" placeholder="Buscar refacciones..."
              class="solicitarcotizacion-content-refacciones-card-content-list-searchbar">
          </div> -->
            <div class="solicitarcotizacion-content-refacciones-card-content-list-title">
              Refacciones seleccionadas
            </div>
            <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones">
              <div
                class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion animate__animated animate__flipInX animate__faster"
                *ngFor="let refaccion of refacciones_select_list; let i = index; trackBy: trackItem"
                [attr.data-index]="i">
                <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont">

                  <div
                    class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-left">
                    <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-title">
                      {{refaccion.nombre}}
                    </div>
                    <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part">
                      <div
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part-number">
                        {{refaccion.part}}
                      </div>
                    </div>

                    <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part">
                      <div
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part-model"
                        *ngFor="let equipo of refaccion.equipos" [title]="equipo">
                        {{equipo}}
                      </div>
                    </div>
                    <!-- <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part-place">

                        {{refaccion.sitio.nombre}}

                    </div> -->
                  </div>
                  <div
                    class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right">
                    <div
                      class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-cant selected-refaccion">
                      <input type="number" inputmode="numeric" pattern="[0-9]{2}" maxlength="2"
                        onKeyPress="if(this.value.length==2) return false;"
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-cant-input selected-refaccion"
                        [value]="refaccion.cant" disabled>
                    </div>

                    <div
                      class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon-cont"
                      style="background-color: #E03F32; margin-right: 8px;" (click)="deleteRefaccion(i)">
                      <img
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon"
                        src='../../../../../assets/icons8-trash.svg'>
                    </div>


                    <!-- <div
                      class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-aceptar">
                      <img
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right-icon"
                        src='../../../../../assets/check-solid.svg'>
                    </div> -->
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="solicitarcotizacion-content-refacciones-card-container servicios-add">
        <div class="solicitarcotizacion-content-refacciones-card-content">
          <div class="solicitarcotizacion-content-refacciones-card-content-list">
            <div class="solicitarcotizacion-content-refacciones-card-content-list-title">
              Refacciones seleccionadas
            </div>
            <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones">

              <div
                class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion animate__animated animate__flipInX animate__faster"
                *ngFor="let refaccion of refacciones_select_list; let i = index; trackBy: trackItem"
                [attr.data-index]="i">
                <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont">

                  <div
                    class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right chossen-refacciones">
                    {{refaccion.cant}}
                  </div>
                  <div
                    class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-left">
                    <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-title">
                      {{refaccion.nombre}}
                    </div>
                    <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part">
                      <div
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part-number">
                        {{refaccion.part}}
                      </div>
                    </div>
                    <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part">
                      <div
                        class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part-model"
                        *ngFor="let equipo of refaccion.equipos" [title]="equipo">
                        {{equipo}}
                      </div>
                    </div>
                    <!-- <div class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-part-place">

                      {{refaccion.sitio.nombre}}

                  </div> -->
                  </div>
                  <div
                    class="solicitarcotizacion-content-refacciones-card-content-list-refacciones-refaccion-cont-right ">
                    <label class="chossen-refacciones-instalacion" (click)="install(i)">
                      <div class="chossen-instalacion-label">
                        ¿Incluir instalación?
                      </div>
                      <input type="checkbox" [attr.id]="i + 'install'" [checked]="refaccion.install">
                    </label>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="solicitarcotizacion-content-refacciones-card-container-footer">
        <div class="solicitarcotizacion-content-refacciones-card-container-before">
          <label (click)="finish()">
            <input type="checkbox" class="menu-check" style="display: none;" id="next-refaccion">
            <div class="solicitarcotizacion-content-refacciones-card-container-next-button"
              style="background-color: #14b76e;">
              Finalizar
            </div>
          </label>
        </div>
        <div class="solicitarcotizacion-content-refacciones-card-container-next">
          <label>
            <div class="solicitarcotizacion-content-refacciones-card-container-next-button">
              <div class="siguiente-refaccines">
                Siguiente
              </div>
              <div class="regresar-refacciones">
                Anterior
              </div>
            </div>
            <input type="checkbox" class="menu-check" style="display: none;" id="next-refaccionn">
          </label>
        </div>

      </div>



    </div>
  </div>

</div>
