<div class="solicitarcotizacion-general-container">

  <div class="solicitarcotizacion-header">
    <div class="solicitarcotizacion-header-width">

      <div class="solicitarcotizacion-header-title">
        Solicitar cotización
        <div class="solicitarcotizacion-header-subtitle">
          {{empresa}}
        </div>
      </div>

    </div>
  </div>

  <div class="solicitarcotizacion-container">
    <div class="solicitarcotizacion-container-cont">
      <div class="solicitarcotizacion-container-cont-title">
        <input type="text" placeholder="Titulo" class="solicitarcotizacion-container-cont-title-input">
      </div>
      <div class="solicitarcotizacion-container-cont-coments">
        <textarea placeholder="Descripcion" name="" id="" cols="30" rows="10"
          class="solicitarcotizacion-container-cont-coments-textarea"></textarea>
      </div>
    </div>
    <div class="solicitarcotizacion-container-side">
      <div class="solicitarcotizacion-container-side-data">
        <div class="solicitarcotizacion-container-side-data-title">
          Sitio
        </div>
        <div class="solicitarcotizacion-container-side-data-combo">
          Hola
        </div>
      </div>

      <div class="solicitarcotizacion-container-side-data">
        <div class="solicitarcotizacion-container-side-data-title">
          Equipos
        </div>
        <div class="solicitarcotizacion-container-side-data-combo">
          Hola
        </div>
      </div>

      <div class="solicitarcotizacion-container-side-data">
        <div class="solicitarcotizacion-container-side-data-title">
          Archivos
        </div>
        <div class="solicitarcotizacion-container-side-data-combo">
          Hola
        </div>
      </div>

    </div>
  </div>

</div>
