.back{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  /* height: 100%; */
  height: 100dvh;
  background: #0087d4;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../../assets/Back.png") center center;
  background-size: cover;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.103);

  display: flex;
  align-items: center;
  justify-content: center;

}




.card{
  width: min(85vw, 450px);
  height: min(60vh, 500px);
  min-width: 270px;
  min-height: 350px;

  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 30px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.logo{
  grid-area: 1 / 1 / 3 / 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

#imagen{
  width: 50%;
}

.form{
  grid-area: 3 / 1 / 7 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


/* ! CORREO */

::placeholder {
  color: rgb(189, 189, 189);
}
 input:focus{
  outline-color: #0087d4;
 }

#Correo {
  margin: 0px 0px 5px 0px;
  padding: 7px;

  border-radius: 10px;
  border: 2px solid #dce3ef;

  color: #939393;
  font-size: 14px;
  font-weight: 600;
}

/* ! CONTRASEÑA */

#Contraseña {
  margin: 5px 0px 5px 0px;
  padding: 7px;
  border-radius: 10px;

  border: 2px solid #dce3ef;

  color: #939393;
  font-size: 14px;
}

/* ! Recuperar contraseña */

#Recuperar {
  float: right;
  color: #c2c2c2;
  font-size: 12px;
  text-decoration: none;
  align-self: flex-end;
}

/* ! BOTON */

.button {

  background-color: #0087d4;
  margin-top: 15px;

  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #009af3;
}

/* ! ¿No tienes cuenta? Registrate */

.foot{
  grid-area: 7/ 1 / 8 / 2;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
#Registrate {
  margin-bottom: 15px;
  text-align: center;
  color: #c2c2c2;
  font-size: 12px;
  text-decoration: none;
}


@media only screen and (max-width: 600px) {
  #imagen{
    width: 70%;
  }
}
